body {
  background-color: #0d1117;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #0d1117;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #111827, #0d1117);
}

.hero h1 span {
  color: #0d6efd;
}

.section {
  padding: 60px 0;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.project-box {
  background-color: #161b22;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
  text-align: center;
}
